.header
    .menu
        .item
            a.link(href=root)
                img.logo(src=root+"./assets/logo-g3d.png")
        .item
            a.link(href=root+"docs/Engine.html") Docs
        .item
            a.link(href=root+"guide/First Steps.html") Guide
        .item
            a.link(target="_blank" href="https://alibaba.github.io/G3D/playground/") Playground
        .item-right.item
            a.link(href="https://alibaba.github.io/GCanvas/") GCanvas