doctype html

html(lang='zh')
    head
        meta(content='text/html')
        meta(charset='utf-8')
        block meta
        link(href="https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans" rel="stylesheet")
    body
        include header
        block main
        include footer
        include folk